<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BTLAND"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTLAND"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCvZHszUjLprKP_3U88VkPykt-fpNwKOcU" />

        <activity android:name=".activities.AdminUserPostsActivity" />
        <activity android:name=".activities.AdminUserManagementActivity" />
        <activity android:name=".activities.EditProfileActivity" />
<!--        <activity android:name=".activities.FilterActivity" />-->
        <activity android:name=".activities.ChatActivity" />
        <activity android:name=".activities.PostDetailActivity" />
        <activity android:name=".activities.CreatePostActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity android:name=".activities.MyPostsActivity" />
        <activity android:name=".activities.EditPostActivity" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>